<div class="a-window <%= THEME_moduleTheme %> <%= THEME_windowContainerFill %>">
    <div class="a-window__header">
        <div class="a-window__header-container">
            <div class="a-window__title-container">
                <div class="a-window__title">
                    <h2 class="heading_2 bold--medium <%= THEME_windowTitleColor %> <%#= THEME_windowTitleOpacity %>">
                        <%= CONTENT_aWindow_content.HEADER.heading %>
                    </h2>
                </div>
            </div>
            <div class="a-window__copy-container">
                <div class="a-window__copy">
                    <p class="heading_3 <%= THEME_windowCopyColor %>">
                        <%= CONTENT_aWindow_content.HEADER.paragraph %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="a-window__body">
        <div class="a-window__body-container">
            <div class="a-window__slot">
                <% if (MODULE_aWindow_first) { %>
                    <%- include(MODULE_aWindow_first, {}) %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="a-window__footer">
        <div class="a-window__footer-container">
            <div class="a-window__actions">
                <div class="btn-container--row btn-align--<%= ACTIONS_aWindow_footerBtnAlign %>">
                    <% if (ACTIONS_aWindow_footerBtnExist === true) { %>
                        <button class="btn button__btn btn--contained <%= ACTIONS_aWindow_btnMode %>" type="button" onclick=<%= ACTIONS_aWindow_btnHref %>><%= ACTIONS_aWindow_footerBtnText %></button>
                    <% } %>
                    <div class="a-window__slot">
                        <% if (MODULE_aWindow_second && ACTIONS_bForm_exist === true) { %>
                            <%- include(MODULE_aWindow_second, {}) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>