<div class="a-window <%= THEME_moduleTheme %> <%= THEME_windowContainerFill %>">
    <div class="a-window__header">
        <div class="a-window__header-container">
            <div class="a-window__title-container">
                <div class="a-window__title">
                    <h2 class="heading_2 bold--medium <%= THEME_windowTitleColor %>">
                        <%= CONTENT_aWindow_content.HEADER.heading %>
                    </h2>
                </div>
            </div>
            <div class="a-window__copy-container">
                <div class="a-window__copy">
                    <p class="heading_3 <%= THEME_windowCopyColor %>">
                        <%= CONTENT_aWindow_content.HEADER.paragraph %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="a-window__body">
        <div class="a-window__body-container">
            <div class="a-window__copy">
                <p class="heading_3 <%= THEME_windowBodyFirstFill %> <%= THEME_windowBodyFirstColor %>">
                    <%= CONTENT_aWindow_content.BODY.paragraphFirst %>
                </p>
            </div>
            <div class="a-window__copy">
                <p class="heading_3 <%= THEME_windowBodySecondFill %> <%= THEME_windowBodySecondColor %>">
                    <%= CONTENT_aWindow_content.BODY.paragraphSecond %>
                </p>
            </div>
            <div class="a-window__slot">
                <% if (MODULE_aWindow_first) { %>
                    <%- include(MODULE_aWindow_first, {}) %>
                <% } %>
            </div>
        </div>
    </div>
    <div class="a-window__footer">
        <div class="a-window__footer-container <%= THEME_windowFooterFill %> <%= THEME_windowFooterColor %>">
            <div class="a-window__actions">
                <div class="<%= ACTIONS_aWindow_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aWindow_btn_cont.btn_cont_01.btnAlign %>">
                    <% if (ACTIONS_aWindow_btn.btn_01.btnExist === true) { %>
                        <button class="<%= ACTIONS_aWindow_btn.btn_01.btnTheme_class %> <%= ACTIONS_aWindow_btn.btn_01.btnTheme_type %> <%= ACTIONS_aWindow_btn.btn_01.btnTheme_size %> <%= ACTIONS_aWindow_btn.btn_01.btnTheme_status %> <%= ACTIONS_aWindow_btn.btn_01.btnTheme_style %>" id=<%= ACTIONS_aWindow_btn.btn_01.btnId %> type=<%= ACTIONS_aWindow_btn.btn_01.btnType %> onclick=<%= ACTIONS_aWindow_btn.btn_01.btnOnClick %>><%= ACTIONS_aWindow_btn.btn_01.btnText %></button>
                    <% } %>
                    <div class="a-window__slot">
                        <% if (MODULE_aWindow_second && ACTIONS_bForm_exist === true) { %>
                            <%- include(MODULE_aWindow_second, {}) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>