<div class="a-optionSelect <%= MODEL_GLOBAL_VARIABLES.MODULE_THEME %>">
    <div class="a-optionSelect__container <%= A_OPTIONSELECT.MODULE_THEMES.THEME_containerFill %> <%= A_OPTIONSELECT.MODULE_THEMES.THEME_containerColor %>">
        <div class="a-optionSelect__header">
            <div class="a-optionSelect__header_text body_3"></div>
        </div>
        <div class="a-optionSelect__icon_container <%= A_OPTIONSELECT.MODULE_THEMES.THEME_optionSelect_containerFill %> <%= A_OPTIONSELECT.MODULE_THEMES.THEME_optionSelect_containerColor %>">
            <div class="a-optionSelect__icon"></div>
        </div>
    </div>
</div>