<div class="b-header <%= THEME_moduleTheme %>">
    <div class="b-header__container <%= THEME_bHeaderContainerFill %>">
            <div class="b-header__sidebar b-header__sidebar--left">
                <div class="heading_3 b-header__logo-container <%= THEME_bHeaderLogoIconColor %>">
                    <%= CONTENT_bHeader_logo_cont.icon %>
                </div>
                <div class="heading_3 b-header__logo-container <%= THEME_bHeaderLogoTextColor %>">
                    <%= CONTENT_bHeader_logo_cont.text %>
                </div>
            </div>
            <div class="b-header__sidebar b-header__sidebar--right">
                <div class="<%= ACTIONS_bHeader_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_bHeader_btn_cont.btn_cont_01.btnAlign %>">
                    <button class="<%= ACTIONS_bHeader_btn.btn_01.btnTheme_class %> <%= ACTIONS_bHeader_btn.btn_01.btnTheme_type %> <%= ACTIONS_bHeader_btn.btn_01.btnTheme_size %> <%= ACTIONS_bHeader_btn.btn_01.btnTheme_status %> <%= ACTIONS_bHeader_btn.btn_01.btnTheme_style %>" id=<%= ACTIONS_bHeader_btn.btn_01.btnId %> type=<%= ACTIONS_bHeader_btn.btn_01.btnType %> onclick=<%= ACTIONS_bHeader_btn.btn_01.btnOnClick %>><%= ACTIONS_bHeader_btn.btn_01.btnText %></button>
                    <button class="<%= ACTIONS_bHeader_btn.btn_02.btnTheme_class %> <%= ACTIONS_bHeader_btn.btn_02.btnTheme_type %> <%= ACTIONS_bHeader_btn.btn_02.btnTheme_size %> <%= ACTIONS_bHeader_btn.btn_02.btnTheme_status %> <%= ACTIONS_bHeader_btn.btn_02.btnTheme_style %>" id=<%= ACTIONS_bHeader_btn.btn_02.btnId %> type=<%= ACTIONS_bHeader_btn.btn_02.btnType %> onclick=<%= ACTIONS_bHeader_btn.btn_02.btnOnClick %>><%= ACTIONS_bHeader_btn.btn_02.btnText %></button>
                </div>
            </div>
    </div>
</div>