<div class="b-header <%= MODEL_GLOBAL_VARIABLES.MODULE_THEME %>">
    <div class="b-header__container <%= B_HEADER.MODULE_THEMES.THEME_containerFill %>">
            <div class="b-header__sidebar b-header__sidebar--left">
                <div class="heading_3 b-header__logo-container <%= B_HEADER.MODULE_THEMES.THEME_logoIconColor %>">
                    <%= B_HEADER.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_LOGO_CONTAINER.ICON %>
                </div>
                <div class="heading_3 b-header__logo-container <%= B_HEADER.MODULE_THEMES.THEME_logoTextColor %>">
                    <%= B_HEADER.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_LOGO_CONTAINER.TEXT %>
                </div>
            </div>
            <div class="b-header__sidebar b-header__sidebar--right">
                <% if (B_HEADER.MODULE_ACTIONS.BUTTON_CONTAINERS[0]) { %>
                    <%- include(MODEL_GLOBAL_VARIABLES.BUTTONCONTAINER_MODULE_LOC, {thisContainer: B_HEADER.MODULE_ACTIONS.BUTTON_CONTAINERS[0]}) %>
                <% } %>
            </div>
    </div>
</div>