<div class="a-canvas <%= THEME_moduleTheme %>" id="<%= ID_aCanvas_id %>">
    <div class="a-canvas__container <%= THEME_aCanvasContainerFill %>">
        <div class="a-canvas__zoomLayer" id=<%=CONTENT_ID_aCanvas_zoom_id%>>
            <div class="a-canvas__panLayer <%= THEME_aCanvasPanLayerFill %>" id=<%=CONTENT_ID_aCanvas_pan_id%>></div>
        </div>
    </div>
</div>

<!-- MAKE THIS YNAMIC FROM MODEL OBEJCT -->
<template id="aCanvasTemplate">
    <div class="a-canvas__slot">
        <% if (MODULE_aCanvas_first) { %>
            <%- include(MODULE_aCanvas_first, {}) %>
        <% } %>
    </div>
</template>


<!-- only using this for "oldway" -->
<script>
    // const a_canvas_functions = {}
    const a_canvas_globalVars = {}
</script>
<script id='aCanvas_scriptId' type='module' data-json='[""]' src='./javascripts/html_modules/a_canvas.js'></script>