<div class="a-pane <%= THEME_globalMode %> <%= THEME_moduleTheme %> <%= THEME_aPaneContainerFill %>">
    <div class="a-pane__vertical-margins">
        <div class="a-pane__vertical-padding">
            <div class="a-pane__horizontal-padding">
                <div class="a-pane__horizontal-margins <%= THEME_aPaneMaxWidth %>">
                    <div class="a-pane__flex-direction">
                        <div class="a-pane__slot">
                            <% if (MODULE_aPane_first) { %>
                                <%- include(MODULE_aPane_first) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>