<div class="a-tester__row">
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl1 %> <%= THEME_aTester_testElemFill__hl1 %>">
                    <%= CONTENT_aTester_testElem__hl1 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl2 %> <%= THEME_aTester_testElemFill__hl2 %>">
                    <%= CONTENT_aTester_testElem__hl2 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl3 %> <%= THEME_aTester_testElemFill__hl3 %>">
                    <%= CONTENT_aTester_testElem__hl3 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl4 %> <%= THEME_aTester_testElemFill__hl4 %>">
                    <%= CONTENT_aTester_testElem__hl4 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl5 %> <%= THEME_aTester_testElemFill__hl5 %>">
                    <%= CONTENT_aTester_testElem__hl5 %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="a-tester__row">
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl6 %> <%= THEME_aTester_testElemFill__hl6 %>">
                    <%= CONTENT_aTester_testElem__hl6 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl7 %> <%= THEME_aTester_testElemFill__hl7 %>">
                    <%= CONTENT_aTester_testElem__hl7 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl8 %> <%= THEME_aTester_testElemFill__hl8 %>">
                    <%= CONTENT_aTester_testElem__hl8 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= THEME_aTester_testElemColor__hl9 %> <%= THEME_aTester_testElemFill__hl9 %>">
                    <%= CONTENT_aTester_testElem__hl9 %>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="a-tester__body <%#= THEME_windowFooterFill %> <%#= THEME_windowFooterColor %>">
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_01.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_01.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_01.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_01.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_01.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_01.btnId %> type=<%= ACTIONS_aTester_btn.btn_01.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_01.btnHref %>><%= ACTIONS_aTester_btn.btn_01.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_02.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_02.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_02.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_02.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_02.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_02.btnId %> type=<%= ACTIONS_aTester_btn.btn_02.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_02.btnHref %>><%= ACTIONS_aTester_btn.btn_02.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_03.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_03.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_03.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_03.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_03.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_03.btnId %> type=<%= ACTIONS_aTester_btn.btn_03.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_03.btnHref %>><%= ACTIONS_aTester_btn.btn_03.btnText %></button>
    </div>
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_04.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_04.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_04.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_04.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_04.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_04.btnId %> type=<%= ACTIONS_aTester_btn.btn_04.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_04.btnHref %>><%= ACTIONS_aTester_btn.btn_04.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_05.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_05.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_05.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_05.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_05.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_05.btnId %> type=<%= ACTIONS_aTester_btn.btn_05.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_05.btnHref %>><%= ACTIONS_aTester_btn.btn_05.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_06.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_06.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_06.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_06.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_06.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_06.btnId %> type=<%= ACTIONS_aTester_btn.btn_06.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_06.btnHref %>><%= ACTIONS_aTester_btn.btn_06.btnText %></button>
    </div>
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_07.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_07.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_07.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_07.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_07.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_07.btnId %> type=<%= ACTIONS_aTester_btn.btn_07.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_07.btnHref %>><%= ACTIONS_aTester_btn.btn_07.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_08.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_08.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_08.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_08.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_08.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_08.btnId %> type=<%= ACTIONS_aTester_btn.btn_08.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_08.btnHref %>><%= ACTIONS_aTester_btn.btn_08.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_09.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_09.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_09.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_09.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_09.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_09.btnId %> type=<%= ACTIONS_aTester_btn.btn_09.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_09.btnHref %>><%= ACTIONS_aTester_btn.btn_09.btnText %></button>
    </div>
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_10.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_10.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_10.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_10.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_10.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_10.btnId %> type=<%= ACTIONS_aTester_btn.btn_10.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_10.btnHref %>><%= ACTIONS_aTester_btn.btn_10.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_11.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_11.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_11.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_11.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_11.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_11.btnId %> type=<%= ACTIONS_aTester_btn.btn_11.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_11.btnHref %>><%= ACTIONS_aTester_btn.btn_11.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_12.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_12.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_12.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_12.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_12.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_12.btnId %> type=<%= ACTIONS_aTester_btn.btn_12.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_12.btnHref %>><%= ACTIONS_aTester_btn.btn_12.btnText %></button>
    </div>
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_13.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_13.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_13.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_13.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_13.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_13.btnId %> type=<%= ACTIONS_aTester_btn.btn_13.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_13.btnHref %>><%= ACTIONS_aTester_btn.btn_13.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_14.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_14.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_14.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_14.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_14.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_14.btnId %> type=<%= ACTIONS_aTester_btn.btn_14.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_14.btnHref %>><%= ACTIONS_aTester_btn.btn_14.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_15.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_15.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_15.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_15.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_15.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_15.btnId %> type=<%= ACTIONS_aTester_btn.btn_15.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_15.btnHref %>><%= ACTIONS_aTester_btn.btn_15.btnText %></button>
    </div>
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_16.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_16.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_16.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_16.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_16.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_16.btnId %> type=<%= ACTIONS_aTester_btn.btn_16.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_16.btnHref %>><%= ACTIONS_aTester_btn.btn_16.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_17.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_17.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_17.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_17.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_17.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_17.btnId %> type=<%= ACTIONS_aTester_btn.btn_17.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_17.btnHref %>><%= ACTIONS_aTester_btn.btn_17.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_18.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_18.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_18.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_18.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_18.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_18.btnId %> type=<%= ACTIONS_aTester_btn.btn_18.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_18.btnHref %>><%= ACTIONS_aTester_btn.btn_18.btnText %></button>
    </div>
    <div class="<%= ACTIONS_aTester_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_aTester_btn_cont.btn_cont_01.btnAlign %>">
        <button class="<%= ACTIONS_aTester_btn.btn_19.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_19.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_19.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_19.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_19.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_19.btnId %> type=<%= ACTIONS_aTester_btn.btn_19.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_19.btnHref %>><%= ACTIONS_aTester_btn.btn_19.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_20.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_20.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_20.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_20.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_20.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_20.btnId %> type=<%= ACTIONS_aTester_btn.btn_20.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_20.btnHref %>><%= ACTIONS_aTester_btn.btn_20.btnText %></button>
        <button class="<%= ACTIONS_aTester_btn.btn_21.btnTheme_class %> <%= ACTIONS_aTester_btn.btn_21.btnTheme_type %> <%= ACTIONS_aTester_btn.btn_21.btnTheme_size %> <%= ACTIONS_aTester_btn.btn_21.btnTheme_status %> <%= ACTIONS_aTester_btn.btn_21.btnTheme_style %>" id=<%= ACTIONS_aTester_btn.btn_21.btnId %> type=<%= ACTIONS_aTester_btn.btn_21.btnType %> onclick=<%= ACTIONS_aTester_btn.btn_21.btnHref %>><%= ACTIONS_aTester_btn.btn_21.btnText %></button>
    </div>
</div>