<div class="a-tester__row">
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl1 %> <%= testFill__hl1 %>">
                    <%= CONTENT_aTester_testElem__hl1 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl2 %> <%= testFill__hl2 %>">
                    <%= CONTENT_aTester_testElem__hl2 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl3 %> <%= testFill__hl3 %>">
                    <%= CONTENT_aTester_testElem__hl3 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl4 %> <%= testFill__hl4 %>">
                    <%= CONTENT_aTester_testElem__hl4 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl5 %> <%= testFill__hl5 %>">
                    <%= CONTENT_aTester_testElem__hl5 %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="a-tester__row">
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl6 %> <%= testFill__hl6 %>">
                    <%= CONTENT_aTester_testElem__hl6 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl7 %> <%= testFill__hl7 %>">
                    <%= CONTENT_aTester_testElem__hl7 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl8 %> <%= testFill__hl8 %>">
                    <%= CONTENT_aTester_testElem__hl8 %>
                </p>
            </div>
        </div>
    </div>
    <div class="a-tester__body">
        <div class="a-tester__body-container">
            <div class="a-tester__copy">
                <p class="body_1  <%= testColor__hl9 %> <%= testFill__hl9 %>">
                    <%= CONTENT_aTester_testElem__hl9 %>
                </p>
            </div>
        </div>
    </div>
</div>

<button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained <%= ACTIONS_aWindow_btnMode %>" type="button" onclick=<%= ACTIONS_aWindow_btnHref %>><%= ACTIONS_aWindow_footerBtnText %></button>

<div class="a-tester__body <%#= THEME_windowFooterFill %> <%#= THEME_windowFooterColor %>">
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__primary %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__primary %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__primary %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__primary %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__primary %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__primary %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--contained" type="button"><%= ACTIONS_aTester_testBtnText__primary %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__primary %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--primary button--text" type="button"><%= ACTIONS_aTester_testBtnText__primary %></button>
    </div>
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__secondary %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__secondary %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__secondary %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__secondary %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__secondary %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__secondary %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--contained" type="button"><%= ACTIONS_aTester_testBtnText__secondary %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__secondary %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--secondary button--text" type="button"><%= ACTIONS_aTester_testBtnText__secondary %></button>
    </div>
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__disabled %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__disabled %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__disabled %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__disabled %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__disabled %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__disabled %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--disabled button--contained " type="button"><%= ACTIONS_aTester_testBtnText__disabled %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--disabled button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__disabled %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--disabled button--text" type="button"><%= ACTIONS_aTester_testBtnText__disabled %></button>
    </div>
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__success %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__success %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__success %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__success %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__success %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__success %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--success button--contained" type="button"><%= ACTIONS_aTester_testBtnText__success %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--success button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__success %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--success button--text" type="button"><%= ACTIONS_aTester_testBtnText__success %></button>
    </div>
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__danger %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__danger %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__danger %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__danger %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__danger %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__danger %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--danger button--contained" type="button"><%= ACTIONS_aTester_testBtnText__danger %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--danger button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__danger %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--danger button--text" type="button"><%= ACTIONS_aTester_testBtnText__danger %></button>
    </div>
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__warning %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__warning %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__warning %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__warning %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__warning %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__warning %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--warning button--contained" type="button"><%= ACTIONS_aTester_testBtnText__warning %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--warning button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__warning %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--warning button--text" type="button"><%= ACTIONS_aTester_testBtnText__warning %></button>
    </div>
    <div class="btn-container--row btn-align--center">
        <!-- <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__info %> <%= testBtnStyle_contained %>" type="button"><%= ACTIONS_aTester_testBtnText__info %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__info %> <%= testBtnStyle_outlined %>" type="button"><%= ACTIONS_aTester_testBtnText__info %></button>
        <button class="<%= testBtnClass__aBtn %> <%= testBtnType__default %> <%= testBtnSize__small %> <%= testBtnStatus__info %> <%= testBtnStyle_text %>" type="button"><%= ACTIONS_aTester_testBtnText__info %></button> -->
        <button class="a-button a-button__a-btn--default a-btn__default--small button--info button--contained" type="button"><%= ACTIONS_aTester_testBtnText__info %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--info button--outlined" type="button"><%= ACTIONS_aTester_testBtnText__info %></button>
        <button class="a-button a-button__a-btn--default a-btn__default--small button--info button--text" type="button"><%= ACTIONS_aTester_testBtnText__info %></button>
    </div>
</div>

<!-- <div class="a-window__footer-container <%#= THEME_windowFooterFill %> <%#= THEME_windowFooterColor %>">
    <div class="a-window__actions">
        <div class="">
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl1 %> <%= testFill__hl1 %>" type="button"><%= CONTENT_aTester_testElem__hl1 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl2 %> <%= testFill__hl2 %>" type="button"><%= CONTENT_aTester_testElem__hl2 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl3 %> <%= testFill__hl3 %>" type="button"><%= CONTENT_aTester_testElem__hl3 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl4 %> <%= testFill__hl4 %>" type="button"><%= CONTENT_aTester_testElem__hl4 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl5 %> <%= testFill__hl5 %>" type="button"><%= CONTENT_aTester_testElem__hl5 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl6 %> <%= testFill__hl6 %>" type="button"><%= CONTENT_aTester_testElem__hl6 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl7 %> <%= testFill__hl7 %>" type="button"><%= CONTENT_aTester_testElem__hl7 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl8 %> <%= testFill__hl8 %>" type="button"><%= CONTENT_aTester_testElem__hl8 %></div>
            <div class="a-button a-button__a-btn--default a-btn__default--small <%= testColor__hl9 %> <%= testFill__hl9 %>" type="button"><%= CONTENT_aTester_testElem__hl9 %></div>
        </div>
    </div>
</div> -->