<div class="a-artboard <%= THEME_moduleTheme %> ">
    <div class="a-artboard__container" <%= THEME_artboardContainerFill %>>
        <div class="a-artboard__slot">
            <% if (MODULE_aArtboard_first) { %>
                <%- include(MODULE_aArtboard_first, {}) %>
            <% } %>
        </div>
        <div class="a-artboard__slot">
            <% if (MODULE_aArtboard_second) { %>
                <%- include(MODULE_aArtboard_second, {}) %>
            <% } %>
        </div>
        <div class="a-artboard__slot">
            <% if (MODULE_aArtboard_third) { %>
                <%- include(MODULE_aArtboard_third, {}) %>
            <% } %>
        </div>
    </div>
</div>

<!-- old -->
<script
    id='aArtboard_scriptId'
    type='module'
    data-json='[
        "<%= ID_aCanvas_id %>",
        "<%=CONTENT_ID_aCanvas_zoom_id%>",
        "<%=CONTENT_ID_aCanvas_pan_id%>",
        "<%= ID_bFooter_id %>",
        "<%= ACTIONS_bFooter_btn.btn_01.btnId %>",
        "<%= ACTIONS_bFooter_btn.btn_02.btnId %>",
        "<%= ACTIONS_bFooter_btn.btn_03.btnId %>",
        "<%= ACTIONS_bFooter_btn.btn_04.btnId %>",
        "<%= ACTIONS_bFooter_btn.btn_05.btnId %>",
        "<%= ACTIONS_bFooter_btn.btn_02b.btnId %>"
    ]'
    src='./javascripts/html_modules/a_artboard.js'
></script>

<!-- new -->
<!-- <script
    id='aArtboard_scriptId'
    type='module'
    data-json='[]'
    src='./javascripts/app/app.js'
></script> -->