<div class="a-artboard <%= MODEL_GLOBAL_VARIABLES.MODULE_THEME %> ">
    <div class="a-artboard__container" <%= A_ARTBOARD.MODULE_THEMES.THEME_containerFill %>>
        <div class="a-artboard__slot">
            <% if (A_ARTBOARD.MODULE_CHILDREN_DATA.CHILDREN[0]) { %>
                <%- include(A_ARTBOARD.MODULE_CHILDREN_DATA.CHILDREN[0].MODULE_LOCATION, {}) %>
            <% } %>
        </div>
        <div class="a-artboard__slot">
            <% if (A_ARTBOARD.MODULE_CHILDREN_DATA.CHILDREN[1]) { %>
                <%- include(A_ARTBOARD.MODULE_CHILDREN_DATA.CHILDREN[1].MODULE_LOCATION, {}) %>
            <% } %>
        </div>
        <div class="a-artboard__slot">
            <% if (A_ARTBOARD.MODULE_CHILDREN_DATA.CHILDREN[2]) { %>
                <%- include(A_ARTBOARD.MODULE_CHILDREN_DATA.CHILDREN[2].MODULE_LOCATION, {}) %>
            <% } %>
        </div>
    </div>
</div>


<script
    id='aArtboard_scriptId'
    type='module'
    data-json='[
    "<%#= MODEL_GLOBAL_VARIABLES.MODULE_THEME %>",
    ]'
    src='./javascripts/app/app.js'
></script>