<div class="b-footer <%= MODEL_GLOBAL_VARIABLES.MODULE_THEME %>" id=<%= B_FOOTER.MODULE_DATA.MODULE_ID %>>
    <div class="b-footer__container <%= B_FOOTER.MODULE_THEMES.THEME_containerFill %>">
        <div class="b-footer__sidebar b-footer__sidebar--left">
            <div class="b-footer__button-cont">
                <% if (B_FOOTER.MODULE_ACTIONS.BUTTON_CONTAINERS[0]) { %>
                    <%- include(MODEL_GLOBAL_VARIABLES.BUTTONCONTAINER_MODULE_LOC, {thisContainer: B_FOOTER.MODULE_ACTIONS.BUTTON_CONTAINERS[0]}) %>
                <% } %>
            </div>
        </div>
        <div class="b-footer__sidebar b-footer__sidebar--mid">
            <div class="b-footer__button-cont">
                <% if (B_FOOTER.MODULE_ACTIONS.BUTTON_CONTAINERS[1]) { %>
                    <%- include(MODEL_GLOBAL_VARIABLES.BUTTONCONTAINER_MODULE_LOC, {thisContainer: B_FOOTER.MODULE_ACTIONS.BUTTON_CONTAINERS[1]}) %>
                <% } %>
            </div>
        </div>
        <div class="b-footer__sidebar b-footer__sidebar--right">
            <div class="b-footer__button-cont">
                <% if (B_FOOTER.MODULE_ACTIONS.BUTTON_CONTAINERS[2]) { %>
                    <%- include(MODEL_GLOBAL_VARIABLES.BUTTONCONTAINER_MODULE_LOC, {thisContainer: B_FOOTER.MODULE_ACTIONS.BUTTON_CONTAINERS[2]}) %>
                <% } %>
            </div>
        </div>
    </div>
</div>