<div class="b-footer <%= THEME_moduleTheme %> <%= THEME_bFooterContainerFill %>">
    <div class="b-footer__container">
            <div class="b-footer__sidebar b-footer__sidebar--left">
                <div class="b-header__logo-container">
                    <div class="<%= ACTIONS_bFooter_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_bFooter_btn_cont.btn_cont_01.btnAlign %>">
                        <button class="<%= ACTIONS_bFooter_btn.btn_abt.btnTheme_class %> <%= ACTIONS_bFooter_btn.btn_abt.btnTheme_type %> <%= ACTIONS_bFooter_btn.btn_abt.btnTheme_size %> <%= ACTIONS_bFooter_btn.btn_abt.btnTheme_status %> <%= ACTIONS_bFooter_btn.btn_abt.btnTheme_style %>" id=<%= ACTIONS_bFooter_btn.btn_abt.btnId %> type=<%= ACTIONS_bFooter_btn.btn_abt.btnType %> onclick=<%= ACTIONS_bFooter_btn.btn_abt.btnHref %>><%= ACTIONS_bFooter_btn.btn_abt.btnText %></button>
                    </div>
                </div>
            </div>
            <div class="b-footer__sidebar b-footer__sidebar--right">
                <div class="<%= ACTIONS_bFooter_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_bFooter_btn_cont.btn_cont_01.btnAlign %>">
                    <button class="<%= ACTIONS_bFooter_btn.btn_new.btnTheme_class %> <%= ACTIONS_bFooter_btn.btn_new.btnTheme_type %> <%= ACTIONS_bFooter_btn.btn_new.btnTheme_size %> <%= ACTIONS_bFooter_btn.btn_new.btnTheme_status %> <%= ACTIONS_bFooter_btn.btn_new.btnTheme_style %>" id=<%= ACTIONS_bFooter_btn.btn_new.btnId %> type=<%= ACTIONS_bFooter_btn.btn_new.btnType %> onclick=<%= ACTIONS_bFooter_btn.btn_new.btnHref %>><%= ACTIONS_bFooter_btn.btn_new.btnText %></button>
                </div>
            </div>
            <div class="b-footer__sidebar b-footer__sidebar--right">
                <div class="<%= ACTIONS_bFooter_btn_cont.btn_cont_01.btnDirection %> <%= ACTIONS_bFooter_btn_cont.btn_cont_01.btnAlign %>">
                    <button class="<%= ACTIONS_bFooter_btn.btn_02.btnTheme_class %> <%= ACTIONS_bFooter_btn.btn_02.btnTheme_type %> <%= ACTIONS_bFooter_btn.btn_02.btnTheme_size %> <%= ACTIONS_bFooter_btn.btn_02.btnTheme_status %> <%= ACTIONS_bFooter_btn.btn_02.btnTheme_style %>" id=<%= ACTIONS_bFooter_btn.btn_02.btnId %> type=<%= ACTIONS_bFooter_btn.btn_02.btnType %> onclick=<%= ACTIONS_bFooter_btn.btn_02.btnHref %>><%= ACTIONS_bFooter_btn.btn_02.btnText %></button>
                    <button class="<%= ACTIONS_bFooter_btn.btn_03.btnTheme_class %> <%= ACTIONS_bFooter_btn.btn_03.btnTheme_type %> <%= ACTIONS_bFooter_btn.btn_03.btnTheme_size %> <%= ACTIONS_bFooter_btn.btn_03.btnTheme_status %> <%= ACTIONS_bFooter_btn.btn_03.btnTheme_style %>" id=<%= ACTIONS_bFooter_btn.btn_03.btnId %> type=<%= ACTIONS_bFooter_btn.btn_03.btnType %> onclick=<%= ACTIONS_bFooter_btn.btn_03.btnHref %>><%= ACTIONS_bFooter_btn.btn_03.btnText %></button>
                    <button class="<%= ACTIONS_bFooter_btn.btn_04.btnTheme_class %> <%= ACTIONS_bFooter_btn.btn_04.btnTheme_type %> <%= ACTIONS_bFooter_btn.btn_04.btnTheme_size %> <%= ACTIONS_bFooter_btn.btn_04.btnTheme_status %> <%= ACTIONS_bFooter_btn.btn_04.btnTheme_style %>" id=<%= ACTIONS_bFooter_btn.btn_04.btnId %> type=<%= ACTIONS_bFooter_btn.btn_04.btnType %> onclick=<%= ACTIONS_bFooter_btn.btn_04.btnHref %>><%= ACTIONS_bFooter_btn.btn_04.btnText %></button>
                </div>
            </div>
    </div>
</div>