<div class="b-document <%= MODEL_GLOBAL_VARIABLES.MODULE_THEME %>">
    <div class="b-document__container <%= B_DOCUMENT.MODULE_THEMES.THEME_containerFill %> <%= B_DOCUMENT.MODULE_THEMES.THEME_containerColor %> <%= B_DOCUMENT.MODULE_THEMES.THEME_containerBorderColor %>" id=<%= B_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_ELEMENT_IDS[0].CONTENT_ID_BDOCUMENT_CONTAINER_ID %>>
        <div class="b-document__header body_1" id=<%= B_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_ELEMENT_IDS[1].CONTENT_ID_BDOCUMENT_HEADER %>>REFERENCE_LAYER: 01</div>
        <svg class="b-document__svg <%= B_DOCUMENT.MODULE_THEMES.THEME_svgFill %>" id=<%= B_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_ELEMENT_IDS[2].CONTENT_ID_BDOCUMENT_HEADER %>></svg>
    </div>
</div>

<!-- <div class="b-document">
    <div class="b-document__container">
        <div class="b-document__header body_1"></div>
        <svg class="b-document__svg"></svg>
    </div>
</div> -->