<div class="a-document <%= MODEL_GLOBAL_VARIABLES.MODULE_THEME %>">
    <div class="a-document__container <%= A_DOCUMENT.MODULE_THEMES.THEME_containerFill %> <%= A_DOCUMENT.MODULE_THEMES.THEME_containerColor %> <%= A_DOCUMENT.MODULE_THEMES.THEME_containerBorderColor %>" id=<%= A_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_ELEMENT_IDS[0].CONTENT_ID_ADOCUMENT_CONTAINER_ID %>>
        <div class="a-document__header body_1" id=<%= A_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_ELEMENT_IDS[1].CONTENT_ID_ADOCUMENT_HEADER %>></div>
        <% if (A_DOCUMENT.MODULE_ACTIONS.BUTTON_CONTAINERS[0]) { %>
            <%- include(MODEL_GLOBAL_VARIABLES.BUTTONCONTAINER_MODULE_LOC, {thisContainer: A_DOCUMENT.MODULE_ACTIONS.BUTTON_CONTAINERS[0]}) %>
        <% } %>
        <% if(A_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_TEXT.HEADER_TEXT) { %>
            <div class="a-document__subHeader body_3"><%= A_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_TEXT.HEADER_TEXT %></div>
        <% } %>
        <% if (A_DOCUMENT.MODULE_ACTIONS.BUTTON_CONTAINERS[1]) { %>
            <%- include(MODEL_GLOBAL_VARIABLES.BUTTONCONTAINER_MODULE_LOC, {thisContainer: A_DOCUMENT.MODULE_ACTIONS.BUTTON_CONTAINERS[1]}) %>
        <% } %>
        <svg class="a-document__svg <%= A_DOCUMENT.MODULE_THEMES.THEME_svgFill %>" id=<%= A_DOCUMENT.MODULE_DATA.MODULE_CONTENT.CONTENT_DATA.CONTENT_ELEMENT_IDS[2].CONTENT_ID_ADOCUMENT_SVG %>></svg>
    </div>
</div>

<script>
    // const a_document_object = {}
</script>
<script type='module' src='./javascripts/html_modules/a_document.js'></script>